{
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "auto",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "jsxBracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
